{% extends "navigation.html" %}

{% block title %}Alunos com Dívidas{% endblock %}

{% block style %}
<style>
        .admin-table {
        width: 100%;
        border-collapse: collapse;
        background: #fff;
        font-size: 14px;
        }
        .admin-table th, .admin-table td {
        border: 1px solid #e1e1e1;
        padding: 8px 12px;
        text-align: left;
        }
        .admin-table thead {
        background: #f5f5f5;
        }
        .admin-table tbody tr:nth-child(even) {
        background: #f9f9f9;
        }
        .admin-table tbody tr:hover {
        background: #eaf3fc;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    {% if alunos_dividas %}

        <table class="admin-table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Divida</th>
                    <th>Adicionar saldo</th>
                    <th> Relatório do aluno</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos_dividas %}
                    <tr>
                        <td>{{ aluno.nome_proprio }} {{ aluno.apelido }}</td>
                        <td>{{ aluno.saldo }}</td>
                        <td> <a href="{% url 'registar_pagamento' aluno.pk %}">Adicionar saldo </a></td>
                        <td><a href="{% url 'gerar_pdf_aluno' aluno.pk %}">Ver relatório</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-success" role="alert">
            Nenhum aluno com dívida encontrada.
        </div>
    {% endif %}
</div>
{% endblock %}