{% extends 'navigation.html' %}

{% block title %}User Management{% endblock %}

{% block style %}
    <style>
        .button-grid {
            display: flex;
            gap: 10px;
        }

        .styled-button {
            background-color:rgb(64, 106, 245);
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .styled-button:hover {
            background-color:rgb(69, 78, 160);
            transform: scale(1.05);
        }

        .styled-button:active {
            background-color:rgb(62, 87, 142);
            transform: scale(0.95);
        }

        @media (max-width: 768px) {
            .button-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="button-grid">
            <a href="{% url 'admin:auth_user_changelist' %}" target="_blank"><button class="styled-button"> Manage Users </button></a>
            <a href="{% url 'admin:auth_group_changelist' %}" target="_blank"><button class="styled-button"> Manage Groups </button></a>
        </div>
    </div>
{% endblock %}
